1.Store Customer Orders



*  Create a list of customer names.

In [ ]:
cust_name=["akshith","soumya","mohini","sourabh","sonu","jerry"]



*   Store each customer's order details (customer name, product, price, category) as tuples inside a list

In [ ]:
orders=[
     ("akshith","tv",5000,"electronics"),
     ("soumya","dress",200,"clothing"),
     ("mohini","frames",150,"home essential"),
     ("sourabh","fridge",500,"electronics"),
     ("sonu","mobile",1000,"electronics"),
     ("jerry","dress",50,"clothing"),
     ("akshith","mobile",1000,"electronics"),
     ("soumya","laptop",2000,"electronics"),
     ("mohini","shoes",150,"clothing"),
     ("sonu","T-shirt",50,"clothing")
]



* Use a dictionary where keys are customer names and values are lists of ordered
products

In [ ]:
cust_orders={}
for order in orders:
    name, product, price, category = order
    if name not in cust_orders:
        cust_orders[name] = []
    cust_orders[name].append(product)
print(cust_orders)

{'akshith': ['tv', 'mobile'], 'soumya': ['dress', 'laptop'], 'mohini': ['frames', 'shoes'], 'sourabh': ['fridge'], 'sonu': ['mobile', 'T-shirt'], 'jerry': ['dress']}

2.Classify products by category


*  Use a dictionary to map each product to its respective category

In [ ]:
product_categories = {}
for order in orders:
    name, product, price, category = order
    product_categories[product] = category
print(product_categories)

{'tv': 'electronics', 'dress': 'clothing', 'frames': 'home essential', 'fridge': 'electronics', 'mobile': 'electronics', 'laptop': 'electronics', 'shoes': 'clothing', 'T-shirt': 'clothing'}

• Create a set of unique product categories

In [ ]:
product_catagory=set(product_categories.values())

• Display all available product categories

In [ ]:
print(product_catagory)

{'clothing', 'home essential', 'electronics'}

3. Analyze customer orders

• Use a loop to calculate the total amount each customer spends

In [ ]:
product_prices = {}
for name, product, price, category in orders:
    if product not in product_prices:
        product_prices[product] = price

total_spend=[]
for name,products in cust_orders.items():
    total=0
    for product in products:
        if product in product_prices:
            price=product_prices[product]
            total+=price
        else:
            print(f"Warning: Price not found for product '{product}' for customer '{name}'. Skipping.")

    total_spend.append((name,total))
print(total_spend)

[('akshith', 6000), ('soumya', 2200), ('mohini', 300), ('sourabh', 500), ('sonu', 1050), ('jerry', 200)]

• If the total purchase value is above $100, classify the customer as a high-value buyer

• If it is between $50  and  $100, classify the customer as a moderate buyer

• If it is below $50, classify them as a low-value buyer

In [ ]:
for name,total in total_spend:
    if total>100:
        print(f"{name}:High-value buyer")
    elif total>50 and total<100:
        print(f"{name}:Moderate buyer")
    else:
        print(f"{name}:Low-value buyer")

akshith:High-value buyer
soumya:High-value buyer
mohini:High-value buyer
sourabh:High-value buyer
sonu:High-value buyer
jerry:High-value buyer

4. Generate business insights


• Calculate the total revenue per product category and store it in a dictionary


• Extract unique products from all orders using a set


• Use a list comprehension to find all customers who purchased electronics




• Identify the top three highest-spending customers using sorting

In [ ]:
total_revenue={}
for name,product,price,product_catagory in orders:
    if product_catagory not in total_revenue:
        total_revenue[product_catagory]=0
    total_revenue[product_catagory]+=price
print(total_revenue)

{'electronics': 9500, 'clothing': 450, 'home essential': 150}

In [ ]:

unique_products=set()
for name,product,price,product_catagory in orders:
    unique_products.add(product)
print(unique_products)

{'dress', 'tv', 'fridge', 'laptop', 'frames', 'mobile', 'T-shirt', 'shoes'}

In [ ]:

electronic_customers=[name for name, product, price, category in orders if category=="electronics"]
print(electronic_customers)

['akshith', 'sourabh', 'sonu', 'akshith', 'soumya']

In [ ]:
high_spend_cust=sorted(total_spend,key=lambda x:x[1],reverse=True)
top_three=high_spend_cust[0:3]
print(top_three)

[('akshith', 6000), ('soumya', 2200), ('sonu', 1050)]

5. Organize and display data


• Print a summary of each customer’s total spending and their classification


• Use set operations to find customers who purchased from multiple categories


• Identify common customers who bought both electronics and clothing

In [ ]:
for name,total in total_spend:
  classification=""
  if total>100:
    classification="High-value buyer"
  elif total>50 and total_spend<100:
    classification="Moderate buyer"
  else:
    classification="Low-value buyer"
  print(f"{name} total spending-{total},classification-{classification}")

akshith total spending-6000,classification-High-value buyer
soumya total spending-2200,classification-High-value buyer
mohini total spending-300,classification-High-value buyer
sourabh total spending-500,classification-High-value buyer
sonu total spending-1050,classification-High-value buyer
jerry total spending-200,classification-High-value buyer

In [ ]:

multiple_categ_customers = set()
for name, products in cust_orders.items():
    categories = set()
    for product in products:
        categories.add(product_categories[product])
    if len(categories) > 1:
        multiple_categ_customers.add(name)

print("Customers who purchased from multiple categories:")
print(multiple_categ_customers)

Customers who purchased from multiple categories:
{'soumya', 'sonu', 'mohini'}

In [ ]:
electronic_customers=set()
clothing_customers=set()
for name,products in cust_orders.items():
  categories=set()
  for product in products:
    categories.add(product_categories[product])
  if 'electronics' in categories:
    electronic_customers.add(name)
  if 'clothing' in categories:
    clothing_customers.add(name)
common_customers=electronic_customers.intersection(clothing_customers)
print("Customers who bought both electronics and clothing:")
print(common_customers)

Customers who bought both electronics and clothing:
{'soumya', 'sonu'}